@model List<UserManagerSite.MVC.Data.RoleDTO>

    @{
        var idValue = ViewContext.HttpContext.Request.Query["id"];
        var roleValue = ViewContext.HttpContext.Request.Query["role"];
    }

    <section class="flex-col padding-50">
        <div class="breadcumbs">
            <h1>Listagem de Roles</h1>
            <div class="flex-col">
                <a href="/Roles/Add" class="button primary">Cadastrar</a>
            </div>
        </div>
    
        <fieldset>
            <legend>Filtros</legend>
            <form asp-action="Index" method="get">
                <div class="flex-row gap-20 padding-20 grow">
                    <div class="flex-col">
                        <label>Id</label>
                        <input type="number" name="id" value="@idValue">
                    </div>
                    <div class="flex-col">
                        <label>Nome</label>
                        <input type="text" name="role" value="@roleValue">
                    </div>
                    <div class="flex-row center padding-top-20">
                        <button class="button primary">Buscar</button>
                    </div>
                </div>
            </form>
        </fieldset>
    
        <fieldset>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <th>@role.id</th>
                            <th>@role.role</th>
                            <th>
                                <button class="button secondary">
                                    <div>Ações ▾</div>
                                    <div class="droplist right">
                                        <a asp-action="Edit" asp-route-id="@role.id">Editar</a>
                                        <a asp-action="Delete" asp-route-id="@role.id">Excluir</a>
                                    </div>
                                </button>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </section>
    