@model UserManagerSite.MVC.ViewModels.UsersViewModel

@{
    var idValue = ViewContext.HttpContext.Request.Query["id"];
    var nameValue = ViewContext.HttpContext.Request.Query["name"];
    var roleIdValue = ViewContext.HttpContext.Request.Query["roleId"];
}

    <section class="flex-col padding-50">


        <div class=breadcumbs>
            <h1>Listagem de Usuários</h1>
            <div class="flex-col">
                <a href="/Users/Add" class="button primary">Cadastrar</a>
            </div>
        </div>

        <form asp-controller="Users" asp-action="Index" method="get">
            <fieldset>
                <legend>Filtros</legend>

                <div class="flex-row gap-20 padding-20 grow">

                    <div class="flex-col grow">
                        <label>Id</label>
                        <input type="number" name="id" value="@idValue">
                    </div>

                    <div class="flex-col grow">
                        <label>Nome</label>
                        <input type="text" name="name" value="@nameValue">
                    </div>

                    <div class="flex-col grow">
                        <label>Pefil</label>
                        <select name="roleId">
                            <option value=""></option>
                            @foreach (var role in Model.Roles)
                            {
                                <option value="@role.id" selected="@(roleIdValue == role.id.ToString())">@role.role</option>
                            }
                        </select>
                    </div>

                    <div class="flex-row center padding-top-20">
                        <button class="button primary">Buscar</button>
                    </div>

                </div>

            </fieldset>
        </form>

        <fieldset>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Perfil</th>
                        <th>ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users) {
                    <tr>
                        <th>
                            @user.id
                        </th>
                        <th>
                            @user.name
                        </th>
                        <th>
                            @user.roleName
                        </th>
                        <th>
                            <button class="button secondary">
                                <div>Ações ▾</div>
                                <div class="droplist right">
                                    <a asp-action="Edit" asp-route-id="@user.id">Editar</a>
                                    <a asp-action="Delete" asp-route-id="@user.id">Excluir</a>
                                </div>
                            </button>
                        </th>
                    </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </section>